@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
/* Colors */

.darkyellow {background-color: #f9ba41;}
.yellow {background-color: #ffe46a;;}
.lightgreen {background-color: #e5efbb;}
.green {background-color: #beebbf;}
.blue {background-color: #b2e6f8;}
.violet {background-color: #d9cbdf;}

.arrowdarkyellow {color: #f9ba41;}
.arrowyellow {color: #ffe46a;;}
.arrowlightgreen {color: #e5efbb;}
.arrowgreen {color: #beebbf;}
.arrowblue {color: #b2e6f8;}
.arrowviolet {color: #d9cbdf;}

/* Page */
.mainBackground{
    background-color: white;
}
.mainContainer{
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    min-width: 30em;
    font-family: 'Roboto', sans-serif;
}
.headBar {
    margin-bottom: 1.5em;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar-item {
    display: inline;
    padding: 1vh;
    border-right: 1px solid #bbb;
    color: rgb(99, 99, 99);
    font-size: 13px;
}
.navbar-item a {
    text-decoration: none;
    color: inherit;
}
.navbar-item :hover{
    text-decoration-line:underline;
}
.propagandaContainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-image: url(imgs/home_topo_blank.png);
}

.propagandaItem h1{
    width: fit-content;
    max-width: 50%;
    margin-top: 2.5em;
    color: #163f5a;
}
.propagandaItem p{
    text-align: justify;
    max-width: 50%;
    color: rgb(50, 50, 50);
}
.btnAssine {
    background-color: #ffbf00;
    color: white;
    border-radius: 2em;
    padding: 0.5em;
    text-decoration: none;
}
.btnAssine:hover {
    background-color: #a87e00;
    transition: 0.5s;
}
.banner {
    background: #163f5a;
    color: white; 
}
.bannerContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 25% 0 25%;
    font-size: 20px;
}
.bannerItem {
    max-width: 80%;
}
.banner h4{
    font-size: 13px;
}
.btnSaibaMais {
    align-self: center;
    max-width: 10em;
    background-color: #2875a6;
    color: white;
    border-radius: 0.2em;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
}
.btnSaibaMais:hover{
    background-color: #ffbf00;
    color: black;
    transition: 0.5s;
}
.flexrowContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; /*stretch*/
    align-content: stretch;
}
.flexrowItem{
    margin: 0 1.5em 1em 1.5em;
}
.cardFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.cardItem {
    height: 180px;
    width: 140px;
    display: flex;
    align-content: stretch;
    flex-flow: column;
    font-size: 12px;
    text-align: center;
    margin-bottom: 2em;
}
.cardItem2 {
    color: rgb(58, 58, 58);
    padding: 10px;
}
.arrow {
    border-bottom-color: inherit;
    border-left: 68px solid transparent;
    border-right: 68px solid transparent;
    border-style: solid;
    border-bottom: 20px solid transparent;
    border-width: 20px 68px;
}
.quoteContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.quoteItem{
    background-color: #f5f5f5;
    max-width: 425px;
    padding: 5px 10px;
    color: rgb(58, 58, 58);
    box-shadow: 5px 5px 5px rgb(73, 73, 73);
    margin-bottom: 1em;
}
.quote p{
    text-align: right;
}
.quote h4{
    margin-top: -20px;
}
